@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Програмування з ASP.NET Core та EF Core</h1>
</div>

<h2 class="display-5">Зміст</h2>

<ul class="list-group">

    <li class="list-group-item">
        <h3 class="display-6">
            <a class="nav-link" asp-controller="Home" asp-action="Intro">
                <i class="bi bi-play-circle display-6"></i> Вступ до ASP.NET Core MVC
            </a>
        </h3>
    </li>

</ul>
